

.cabecera{
    overflow: hidden;
    text-align: center;
    background-color: white;
}
.navegador{
    box-shadow: 2px 2px 3px #B2BABB;
    padding: 2rem 0;
    background-color: white;
}
.navegador__lista{
    display: flex;
    justify-content:space-around;
    gap: 4rem; 
}
.enlace{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color:black;
}
.enlace:hover{
    border-bottom: 2px solid rgb(19, 34, 238);
}
.formulario{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding: 1rem 0;
    flex:25%;
    border-bottom: 2px solid black;
    background-color: #E5E7E9;
   
}
.label{
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn__formulario{
    width: 70px;
    height: 70px;
    border-radius: 20%;
  
    cursor: pointer;
    background-color: beige;  
}
.btn__formulario:hover{
    background-color: aqua;
    box-shadow: 2px 2px 5px black;
}
.seccionNoticias{
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 1rem 2rem;
    gap:2rem;
    background-color: white;    
}
.articulo__cabecera{
  overflow: hidden;
  margin-left: 2rem;
}

